body {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5e1bf;
  width: 700px;
  height: 100vh;
}
h1 {
  font-size: 50px;
  margin-top: 40px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
h5 {
  font-size: 22px;
  text-align: center;
}
tr {
  height: 35.8px;
}
input {
  margin: 20px;
  padding: 10px;
  border: 2px solid #313131;
  border-radius: 5px;
  width: 214px;
  text-align: center;
}

.gameTypeButton {
  margin: 5px;
  padding: 60px 100px;
  font-size: 110%;
  font-weight: bold;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  color: white;
  cursor: pointer;
}

#button1 {
  background-color: #337d4a;
}
#button2 {
  background-color: #e8cd5e;
}

#startGame {
  display: flex;
  margin: 40px auto;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  border-width: 5px;
  border-style: solid;
}

#button1:hover,
#button2:hover,
#startGame:hover {
  transform: scale(1.1);
}

#button1:focus,
#button2:focus {
  transform: scale(1.1);
}

#button1:active,
#button2:active {
  transform: scale(1.1);
}

.scoreCounterForm {
  background-color: chocolate;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  /* background-color: blueviolet;  */
  margin: 0px;
}
#player1Name {
  width: 250px;
  margin: 0px 15px;
  padding: 10px;
  text-align: center;
  background-color: lightblue;
}
#player2Name {
  width: 250px;
  margin: 0px 15px;
  padding: 10px;
  text-align: center;
  background-color: lightgreen;
}

.noBorder,
.noBorder:focus,
.noBorder:active,
.noBorder:hover {
  border: none;
  border-image: none;
  border-image-width: 0;
  border-image-slice: 0;
  border-image-repeat: unset;
  outline: none;
  box-shadow: none;
}

.activeBorder {
  border: 5px solid white;
}

#player1Score {
  width: 270px;
  height: 400px;
  margin: 0px 15px;
  padding: 10px;
  text-align: center;
  background-color: rgb(84, 147, 155);
}
#player2Score {
  width: 270px;
  height: 400px;
  margin: 0px 15px;
  padding: 10px;
  text-align: center;
  background-color: rgb(89, 149, 74);
}
#resetGame {
  display: flex;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-width: 5px;
  border-style: solid;
}
#newScoreInput {
  margin: 5px;
}
